*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-image: url('trabajo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin:auto;
    margin-top: 100px;
}

.contenedor_total {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    position: relative;
}

.contenedor1 {
    width: 100%;
    max-width: 1000px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(20px);
    background-color: slategray;
    position: relative;
    top: -20px;
    left: 20px;
}

.contenedor1 div {
    margin: 20px 5px;
    color: white;
    transition: all 500ms;
}

.contenedor1 div h1{
    font-weight: 600;
    font-size: 30px;
}

.cabecera {
    width: 100%;
    padding: 100px 20px;
    display: flex;
    justify-content: right;
}

.contenedor2 {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    position: relative;
    top: 10px;
    left: 20px;
}

.contenedor2 form{
    width: 100%;
    padding: 80px 20px;
    background: rgb(255 255 255 / 0.90);
    position: absolute;
    border-radius: 20px;
}

.contenedor2 form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #366873;
}

.contenedor2 form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: rgb(112 128 144 / 0.19);
    font-size: 16px;
    outline: none;
}

.contenedor2 form p{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: rgb(112 128 144 / 0.19);
    font-size: 16px;
    outline: none;
    left: 10px;
}

.contenedor2 form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size:14px;
    background: #366873;
    color: white;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 850px){
    main{
        margin-top: 50px;
    }

    .contenedor1{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .contenedor1 div{
        margin: 0px;
        position: absolute;
    }
}